<form action="/admin/staff/create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Title</label>
        <input value="" type="text" class="form-control" name="name" >
    </div>

    <div class="form-group">
        <label for="title">Video Link</label>
        <input value="" type="text" class="form-control" name="video" >
    </div>



<!--    <div class="form-group">
        <label for="">Position</label> <br>
        <select class="selectpicker" name="position_category_id" >
            {% for category in categories %}

            <option value="{{category.category_id}}">{{category.category_name}}</option>

            {% endfor %}
        </select>
    </div>-->

  
    <div class="form-group">
        <label for="title">Resource</label>
        <textarea name="about" ></textarea>
        <script>
            CKEDITOR.replace( 'about' );
        </script>
    </div>


    <div class="form-group">
        <button href="/admin/staff/create" class="btn btn-primary" type="submit">Add Stuff</button>
    </div>

</form>
