<form action="/admin/resource/create/{{resource_id.training_id}}" method="post" enctype="multipart/form-data">
    <div class=" form-group demo">
        <label for="title"> Title</label>
        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
        <input type="text" class="form-control" name="title" id="title" >
    </div>


    <div class="form-group">
        <label for="media">Video Link</label>
        <input value="" type="text" class="form-control" name="media" >
    </div>



<!--    <div class="form-group">
        <label for="">Position</label> <br>
        <select class="selectpicker" name="position_category_id" >
            {% for category in categories %}

            <option value="{{category.category_id}}">{{category.category_name}}</option>

            {% endfor %}
        </select>
    </div>-->

  
    <div class="form-group">
        <label for="body">Resource</label>
        <textarea name="body" ></textarea>
        <script>
            CKEDITOR.replace( 'body' );
        </script>
    </div>


    <div class="form-group">
        <button  class="btn btn-primary" type="submit">Add Resource</button>
    </div>

</form>
