<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 news"><!-- NEWS/EVENT column -->
            <div class="">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#event" aria-controls="event" role="tab" data-toggle="tab">ELANLAR</a></li>
                    <li role="presentation"><a href="#news" aria-controls="news" role="tab" data-toggle="tab">XƏBƏRLƏR</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="event"><!-- EVENT panel -->
                        <div class="row">
                            {% for announce in announces|slice(0,4) %}
                            <div class="col-md-6 col-sm-12 col-xs-12 sep"><!--col-1 -->
                                <div class="sp"><span>{{announce.date|date("j")}}</span> <br>{{announce.date|date("F")}}</div>
                                <p><a href="#">{{announce.post_title}}</a></p>
                                <p>{{announce.post_body|slice(0,200)|raw}}..</p>
                            </div>
                            {% endfor %}

                        </div>
                        <div class="row"><!-- all events button -->
                            <div class="col-md-12 col-sm-12 col-xs-12"><!--col-1 -->
                                <p>&nbsp;</p>
                                <div class="readall_container"><a id="readall" href="/announces">DİGƏR ELANLAR</a></div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="news"><!-- NEWS tab -->
                        <div class="row"><!-- first row -->
                            {% for post in news|slice(0,2) %}
                            <div class="col-md-6 col-sm-12 col-xs-12 sep"><!--col-1 -->
                                <div class="sp"><span>{{post.date|date("j")}}</span> <br>{{post.date|date("F")}}</div>
                                <p><a href="#">{{post.title|upper}}</a></p>
                                <p>{{post.content|slice(0,200)|raw}}...</p>
                            </div>
                            {% endfor %}

                        </div>
                        <div class="row"><!-- all events button -->
                            <div class="col-md-12 col-sm-12 col-xs-12"><!--col-1 -->
                                <p>&nbsp;</p>
                                <div class="readall_container"><a id="readall" href="/news">DİGƏR XƏBƏRLƏR</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--closing news/event container -->
        </div>
    </div>
</div>