<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 news"><!-- NEWS/EVENT column -->
            <div class="">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#event" aria-controls="event" role="tab" data-toggle="tab">ELANLAR</a></li>
                    <li role="presentation"><a href="#news" aria-controls="news" role="tab" data-toggle="tab">XƏBƏRLƏR</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="event"><!-- EVENT panel -->
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 sep"><!--col-1 -->
                                <div class="sp"><span>15</span> <br>FEV</div>
                                <p><a href="#">Şəbəkə İnzibatçılığı üzrə təlimlərə start verilir!</a></p>
                                <p>Elektron Hökumət Təlim-Tədris Mərkəzində Şəbəkə İnzibatçılığı üzrə təlimlərə start verilir...</p>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12 sep"><!--col-2 -->
                                <div class="sp"><span>08</span> <br>FEV</div>
                                <p><a href="#">“Gənclər üçün Elektron Hökumət” müsabiqəsinin qalibləri mükafatlandırılıb</a></p>
                                <p>“Azərbaycan Respublikasında informasiya cəmiyyətinin inkişafına dair Milli Strategiyanın...</p>
                            </div>
                        </div>
                        <div class="row"><!-- second row -->
                            <div class="col-md-6 col-sm-12 col-xs-12 sep"><!--col-1 -->
                                <div class="sp"><span>30</span> <br>YAN</div>
                                <p><a href="#">Kompüter dizaynı və qrafikası üzrə yeni təlimlərə start verilir!</a></p>
                                <p>Mərkəzimizdə 2D dizayn və qrafika üzrə təlimlərə start verilir. Mərkəzdə kompüter dizaynı və qrafikasının...</p>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12 sep"><!--col-2 -->
                                <div class="sp"><span>28</span> <br>YAN</div>
                                <p><a href="#">Verilənlər Bazası üzrə proqramçı olmaq istəyənlərin nəzərinə!</a></p>
                                <p>Gələcək karyeralarını Verilənlər Bazasının proqramlaşdırması sahəsi üzrə qurmaq istəyənlər üçün Mərkəzimizdə Oracle Verilənlər...</p>
                            </div>
                        </div>
                        <div class="row"><!-- all events button -->
                            <div class="col-md-12 col-sm-12 col-xs-12"><!--col-1 -->
                                <p>&nbsp;</p>
                                <div class="readall_container"><a id="readall" href="#">DİGƏR ELANLAR</a></div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="news"><!-- NEWS tab -->
                        <div class="row"><!-- first row -->
                            <div class="col-md-6 col-sm-12 col-xs-12 sep"><!--col-1 -->
                                <div class="sp"><span>30</span> <br>YAN</div>
                                <p><a href="#">Kompüter dizaynı və qrafikası üzrə yeni təlimlərə start verilir!</a></p>
                                <p>Mərkəzimizdə 2D dizayn və qrafika üzrə təlimlərə start verilir. Mərkəzdə kompüter dizaynı və qrafikasının müxtəlif istiqamətləri üzrə ixtisaslaşmış təlimlər keçiriləcək...</p>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12 sep"><!--col-2 -->
                                <div class="sp"><span>28</span> <br>YAN</div>
                                <p><a href="#">Verilənlər Bazası üzrə proqramçı olmaq istəyənlərin nəzərinə!</a></p>
                                <p>Gələcək karyeralarını Verilənlər Bazasının proqramlaşdırması sahəsi üzrə qurmaq istəyənlər üçün Mərkəzimizdə Oracle Verilənlər...</p>
                            </div>
                        </div>
                        <div class="row"><!-- all events button -->
                            <div class="col-md-12 col-sm-12 col-xs-12"><!--col-1 -->
                                <p>&nbsp;</p>
                                <div class="readall_container"><a id="readall" href="#">DİGƏR XƏBƏRLƏR</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--closing news/event container -->
        </div>
    </div>
</div>
