<div class="jumbotron logo">
    <div class="container">
        <div class="col-sm-6">
            <div class="logo_left"><img src="images/logo_e_gov.png"></div>
            <div class="logo_right"><!--<p>ELEKTRON HÖKUMƏT </br>TƏLİM-TƏDRİS MƏRKƏZİ</p>--></div>
        </div>
        <div class="col-sm-6 social-container">
            <div class="social_bar">
                <div class="search_bar"><!-- search bar -->
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="axtar...">
                        <span class="input-group-btn">
        					<button class="btn btn-default" type="button"><i class="fa fa-search fa-fw" aria-hidden="true"></i></button>
      						</span>
                    </div><!-- /input-group -->
                </div>
                <div class="ico_bar"><!-- social icons -->
                    <span>
              <a href="#" data-toggle="tooltip" data-placement="top" title="Əlaqə"><i class="fa fa-map fa-fw" aria-hidden="true"></i></a>
	  					<a href="#" data-toggle="tooltip" data-placement="top" title="facebook"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></a>
	  					<a href="#" data-toggle="tooltip" data-placement="top" title="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></a>
	  					<a href="#" data-toggle="tooltip" data-placement="top" title="instagram"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></a>
	  					<a href="#" data-toggle="tooltip" data-placement="top" title="youtube"><i class="fa fa-youtube fa-fw" aria-hidden="true"></i></a>
	  					</span>
                </div>
                <div class="link_bar"><!-- link bar -->
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Portal"><i class="fa fa-laptop fa-fw" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>