<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div class="language-mobile"><!-- language bar for MOBILE: hidden in default -->
                <a href="#"><span class="lang-active">AZ</span></a>
                <a href="#">EN</a>
            </div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mərkəz <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/about">Haqqımızda</a></li>
                        <li><a href="/network">Şəbəkəmiz</a></li>
                        <li><a href="/staff">Komandamız</a></li>
                        <li><a href="/instrutors">Müəllimlərimiz</a></li>
                        <li><a href="/partnors">Tərəfdaşlar</a></li>
                        <li><a href="/files">Sənədlər</a></li>
                    </ul>
                </li>
                <li class="dropdown"><!-- training -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Təlimlər <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">“Elektron Hökumət”</a><!-- submenu level 2 -->
                            <ul class="dropdown-menu">
                                <li><a href="#">Sahibkarlar və mühasiblər üçün e-hökumət</a></li>
                                <li><a href="#">Elektron hökumətin əsasları</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Kompüter bilikləri və ofis proqramları</a><!-- submenu level 2 -->
                            <ul class="dropdown-menu">
                                <li><a href="#">Ümumi kompüter hazırlığı</a></li>
                                <li><a href="#">Microsoft Offoce proqramları</a></li>
                                <li><a href="#">Peşəkar Microsoft Excel</a></li>
                                <li><a href="#">1C proqramı</a></li>
                                <li><a href="#">Microsoft Project</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">İT-nin əsasları</a><!-- submenu level 2 -->
                            <ul class="dropdown-menu">
                                <li><a href="#">İT texnikliyi</a></li>
                                <li><a href="#">İT təhlükəsizliyinin əsasları</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Şəbəkə və sistem inzibatçılığı</a><!-- submenu level 2 -->
                            <ul class="dropdown-menu">
                                <li><a href="#">Şəbəkə inzibatçılığının əsasları</a></li>
                                <li><a href="#">Peşəkar şəbəkə inzibatçılığı</a></li>
                                <li><a href="#">Sistem inzibatçılığının əsasları</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Qrafik dizayn</a><!-- submenu level 2 -->
                            <ul class="dropdown-menu">
                                <li><a href="#">2D qrafika</a></li>
                                <li><a href="#">3D qrafika</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Proqramlaşdırma və kodlaşdırma</a><!-- submenu level 2 -->
                            <ul class="dropdown-menu">
                                <li><a href="#">Veb layihələrin hazırlanması</a></li>
                                <li><a href="#">Java proqramlaşdırma</a></li>
                                <li><a href="#">Python proqramlaşdırma</a></li>
                                <li><a href="#">C++ proqramlaşdırma</a></li>
                                <li><a href="#">Uşaqlar üçün Scratch proqramlaşdırma</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Biznes və menecment</a><!-- submenu level 2 -->
                            <ul class="dropdown-menu">
                                <li><a href="#">Rəqəmli marketinq</a></li>
                                <li><a href="#">Layihələrin idarəedilməsi</a></li>
                                <li><a href="#">Peşəkar insan resursları</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Fərdi inkişaf</a><!-- submenu level 2 -->
                            <ul class="dropdown-menu">
                                <li><a href="#">Danışıq ingilis dili</a></li>
                                <li><a href="#">Ümumi ingilis dili</a></li>
                                <li><a href="#">Rus dili</a></li>
                                <li><a href="#">Yumşaq bacarıqlar</a></li>
                                <li><a href="#">Dövlət qulluğuna hazırlıq</a></li>
                                <li><a href="#">Magistratura hazırlığı</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Yeniliklər <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/news">Xəbərlər</a></li>
                        <li><a href="#">Elanlar</a></li>
                        <li><a href="#">Tədbirlər</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Qeydiyyat <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">İlkin qeydiyyat</a></li>
                        <li><a href="#">Sual ver</a></li>
                        <li><a href="#">Zəng edək</a></li>
                        <li><a href="#">Təlimçi ol</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Materiallar <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Məqalələr</a></li>
                        <li><a href="#">Təlim resursları</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Qalereya <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Video qalereya</a></li>
                        <li><a href="/gallery/photos">Foto qalereya</a></li>
                    </ul>
                </li>
                <!-- <li><a href="#about">Təhsil Portalı</a></li>
                <li><a href="#about">Əlaqə</a></li> -->
            </ul>
            <div class="nav navbar-nav navbar-right language-bar"><!-- language bar inside navigation -->
                <a href="#"><span class="lang-active">AZ</span></a>
                <a href="#">EN</a>
            </div>
        </div><!--/.nav-collapse -->
    </div>
</nav>