<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div class="language-mobile"><!-- language bar for MOBILE: hidden in default -->
                <a href="#"><span class="lang-active">AZ</span></a>
                <a href="#">EN</a>
            </div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mərkəz <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/about">Haqqımızda</a></li>
                        <li><a href="/staff">Komandamız</a></li>
                        <li><a href="/instructors">Müəllimlərimiz</a></li>
                        <li><a href="/partners">Tərəfdaşlar</a></li>
                        <li><a href="/documents">Sənədlər</a></li>
                    </ul>
                </li>
                <li class="dropdown"><!-- training -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Təlimlər <span class="caret"></span></a>
                    
                    <ul class="dropdown-menu">
                        {% for nav in navigation %}
                        
                        <li ><a href="/courses/{{nav.cn_sef}}/{{nav.training_category_id}}" >{{nav.training_cat_name}}</a><!-- submenu level 2 -->
                        </li>
                         {% endfor %}
                    </ul>
                    
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Yeniliklər <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/news">Xəbərlər</a></li>
                        <li><a href="/announces">Elanlar</a></li>
                        <li><a href="/events">Tədbirlər</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Qeydiyyat <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/register">Təlimə qeydiyyat</a></li>
                        <li><a href="/question">Sual ver / Zəng edək</a></li>
                        <li><a href="/call">Tədbirə qeydiyyat</a></li>
                        <li><a href="/teacher">Təlimçi ol</a></li>


                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Materiallar <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/articles">Məqalələr</a></li>
<!--                        <li><a href="/resource">Təlim resursları</a></li>-->
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Qalereya <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="photo-gallery">Video qalereya</a></li>
                        <li><a href="photo-gallery">Foto qalereya</a></li>
                    </ul>
                </li>
                <!-- <li><a href="#about">Təhsil Portalı</a></li>
                <li><a href="#about">Əlaqə</a></li> -->
            </ul>
            <div class="nav navbar-nav navbar-right language-bar"><!-- language bar inside navigation -->
                <a href="#"><span class="lang-active">AZ</span></a>
                <a href="#">EN</a>
            </div>
        </div><!--/.nav-collapse -->
    </div>
</nav>
