<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="news-slider" class="owl-carousel">

                {% for event in events %}

                    <div class="post-slide"> <!-- event 1 -->
                        <div class="post-date">
                            <span class="date">{{event.date|date("j")}}</span>
                            <span class="month">{{event.date|date("F")|slice(0,3)}}</span>
                        </div>
                        <div class="post-content">
                            <img src="images/posts/{{event.image}}" alt="">
                            <h3 class="post-title">
                                <a href="/event/{{event.url}}">{{event.post_title|upper}}</a>
                            </h3>
                            <p class="post-description">
                                        {{event.post_body|slice(0,100)|raw}}
                            </p>
                        </div>
                    </div>

                {% endfor %}

            </div>
            <div class="row"><div class="col-md-12"><!-- readall container and button-->
                <div class="readall_container"><a id="readall" href="/events">DİGƏR TƏDBİRLƏR</a></div>
            </div></div>
        </div>
    </div>
</div>