<div class="col-md-3 col-sm-12 col-xs-12 side-nav"><!-- sidebar section -->
    <div class="side-nav-inside">
        <ul>
            <h4>MƏRKƏZ</h4>
            <li><a href="/about">Haqqımızda</a></li>
            <li><a href="/network">Şəbəkəmiz</a></li>
            <li class="active"><i href="/staff" class="fa fa-long-arrow-right"></i> Komandamız</a></li>
            <li><a href="/instructors">Müəllimlərimiz</a></li>
            <li><a href="/partners">Tərəfdaşlar</a></li>
            <li><a href="/documents">Sənədlər</a></li>
        </ul>
    </div>
</div>