<div class="carousel slide" data-ride="carousel" id="quote-carousel">
    <!-- Bottom Carousel Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#quote-carousel" data-slide-to="1"></li>
        <li data-target="#quote-carousel" data-slide-to="2"></li>
        <!--
        <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="images/testimonial/p_img1.jpg" alt="">
        </li>
        <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="images/testimonial/p_img2.jpg" alt="">
        </li>
        <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="images/testimonial/p_img3.jpg" alt="">
        </li>
    -->
    </ol>

    <!-- Carousel Slides / Quotes -->

  <div class="carousel-inner">

      <!--<div class="carousel-inner">-->
          <!--{% for feed in feedback %}-->
          <!--<div class="item active">-->
              <!--<blockquote>-->
                  <!--<div class="row">-->
                      <!--<div class="col-sm-12">-->
                          <!--<h5>{{feed.name}}</h5>-->
                          <!--<img class="img-thumbnail quote-img" src="images/feedback/{{feed.image}}"><p>{{feed.feed}}</p>-->
                      <!--</div>-->
                  <!--</div>-->
              <!--</blockquote>-->
          <!--</div>-->
          <!--{% endfor %}-->
      <!--</div>-->

         Quote 1
        <div class="item active">
            <blockquote>
                <div class="row">
                    <div class="col-sm-12">
                        <h5>Firudin Əhməd</h5>
                        <img class="img-thumbnail quote-img" src="images/testimonial/p_img2.jpg"><p>eGOV-un təhsil modeli m&uuml;təmadi yeni bilikləri əldə etməyə və onları tətbiq etməyə əsaslanır. Bu model həm də tələbələri &ouml;z karyeralarında eyni yanaşmanı davam etdirməyər hazırlayır. Yeniliklərlə maraqlanan, &ouml;yrənməkdən qorxmayan, komandanın daxilində məhsuldar işləməyə can atan və &ouml;z potensialına inanan insanlar həm cəmiyyətdə...</p>
                    </div>
                </div>
            </blockquote>
        </div>
        <!-- Quote 2 -->
        <div class="item">
            <blockquote>
                <div class="row">
                    <div class="col-sm-12">
                        <h5>Zərifə Turan</h5>
                        <img class="img-thumbnail quote-img" src="images/testimonial/p_img1.jpg"><p>eGOV-da peşəkar təhsil almaq həyatımın ən d&uuml;zg&uuml;n qərarlarından biridir. Bu bir faktdır ki, bu təhsil m&uuml;əssisəsi karyerama real təkan verən ilk addım oldu. Universitetdə 4 ildə ala bilmədiyim veb-proqramlaşdırma sahəsi ilə bağlı vacib bilikləri eGOV mənə qısa m&uuml;ddətdə &ouml;yrətdi. eGOV-dan məzunu olduqdan bir ne&ccedil;ə ay sonra rəsmi iş tapdım.</p>
                    </div>
                </div>
            </blockquote>
        </div>
        <!-- Quote 3 -->
        <div class="item">
            <blockquote>
                <div class="row">
                    <div class="col-sm-12">
                        <h5>Flora Səməd</h5>
                        <img class="img-thumbnail quote-img" src="images/testimonial/p_img3.jpg"><p>eGOV-da peşəkar təhsil almaq həyatımın ən d&uuml;zg&uuml;n qərarlarından biridir. Bu bir faktdır ki, bu təhsil m&uuml;əssisəsi karyerama real təkan verən ilk addım oldu. Universitetdə 4 ildə ala bilmədiyim veb-proqramlaşdırma sahəsi ilə bağlı vacib bilikləri eGOV mənə qısa m&uuml;ddətdə &ouml;yrətdi. eGOV-dan məzunu olduqdan bir ne&ccedil;ə ay sonra rəsmi iş tapdım</p>
                    </div>
                </div>
            </blockquote>
        </div>
         
            
        </div>
      </div>


    <!-- Carousel Buttons Next/Prev
    <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
    <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
     -->




