<div class="container">
    <div class="row"><!-- first row -->
        <!-- first column -->
        <div class="col-md-3 col-sm-6 courses">
            <img src="images/icons/fingerprint.svg">
            <p>ELEKTRON HÖKUMƏT</p>
            <div class="middle">
                <a href="courses.html" class="goto">ƏTRAFLI</a><a href="course-registration.html" class="goto">QEYDİYYAT</a>
            </div>
        </div>
        <!-- second column -->
        <div class="col-md-3 col-sm-6 courses">
            <img src="images/icons/binary.svg">
            <p>KOMPÜTER BİLİKLƏRİ VƏ OFİS PROQRAMLARI</p>
            <div class="middle">
                <a href="courses.html" class="goto">ƏTRAFLI</a><a href="course-registration.html" class="goto">QEYDİYYAT</a>
            </div>
        </div>
        <!-- third column -->
        <div class="col-md-3 col-sm-6 courses">
            <img src="images/icons/system.svg">
            <p>İT-NİN ƏSASLARI</p>
            <div class="middle">
                <a href="courses.html" class="goto">ƏTRAFLI</a><a href="course-registration.html" class="goto">QEYDİYYAT</a>
            </div>
        </div>
        <!-- fourth column -->
        <div class="col-md-3 col-sm-6 courses">
            <img src="images/icons/networking.svg">
            <p>ŞƏBƏKƏ VƏ SİSTEM İNZİBATÇILIĞI</p>
            <div class="middle">
                <a href="courses.html" class="goto">ƏTRAFLI</a><a href="course-registration.html" class="goto">QEYDİYYAT</a>
            </div>
        </div>
    </div>
    <div class="row"><!-- second row -->
        <!-- first column -->
        <div class="col-md-3 col-sm-6 courses">
            <img src="images/icons/design.svg">
            <p>QRAFİK DİZAYN</p>
            <div class="middle">
                <a href="courses.html" class="goto">ƏTRAFLI</a><a href="course-registration.html" class="goto">QEYDİYYAT</a>
            </div>
        </div>
        <!-- second column -->
        <div class="col-md-3 col-sm-6 courses">
            <img src="images/icons/coding.svg">
            <p>PROQRAMLAŞDIRMA VƏ KODLAŞDIRMA</p>
            <div class="middle">
                <a href="courses.html" class="goto">ƏTRAFLI</a><a href="course-registration.html" class="goto">QEYDİYYAT</a>
            </div>
        </div>
        <!-- third column -->
        <div class="col-md-3 col-sm-6 courses">
            <img src="images/icons/presentation.svg">
            <p>BİZNES VƏ MENECMENT</p>
            <div class="middle">
                <a href="courses.html" class="goto">ƏTRAFLI</a><a href="course-registration.html" class="goto">QEYDİYYAT</a>
            </div>
        </div>
        <!-- fourth column -->
        <div class="col-md-3 col-sm-6 courses">
            <img src="images/icons/woman.svg">
            <p>FƏRDİ İNKİŞAF</p>
            <div class="middle">
                <a href="courses.html" class="goto">ƏTRAFLI</a><a href="course-registration.html" class="goto">QEYDİYYAT</a>
            </div>
        </div>
    </div>
</div>