<div class="container">
    <div class="row"><!-- first row -->
        <!-- first column -->
        <div class="col-md-3 col-sm-6 courses">
            <img src="images/icons/fingerprint.svg">
            <p>ELEKTRON HÖKUMƏT</p>
            <div class="middle">
                <a href="/courses/elektron-hokumet/16" class="goto">ƏTRAFLI</a><a href="/register" class="goto">QEYDİYYAT</a>
            </div>
        </div>
        <!-- second column -->
        <div class="col-md-3 col-sm-6 courses">
            <img src="images/icons/binary.svg">
            <p>KOMPÜTER BİLİKLƏRİ VƏ OFİS PROQRAMLARI</p>
            <div class="middle">
                <a href="/courses/komputer-bilikleri-ve-ofis-proqramlari/18" class="goto">ƏTRAFLI</a><a href="/register" class="goto">QEYDİYYAT</a>
            </div>
        </div>
        <!-- third column -->
        <div class="col-md-3 col-sm-6 courses">
            <img src="images/icons/system.svg">
            <p>İT-NİN ƏSASLARI</p>
            <div class="middle">
                <a href="/courses/it-nin-esaslari/12" class="goto">ƏTRAFLI</a><a href="/register" class="goto">QEYDİYYAT</a>
            </div>
        </div>
        <!-- fourth column -->
        <div class="col-md-3 col-sm-6 courses">
            <img src="images/icons/networking.svg">
            <p>ŞƏBƏKƏ VƏ SİSTEM İNZİBATÇILIĞI</p>
            <div class="middle">
                <a href="/courses/sebeke-ve-sistem-inzibatciligi/11" class="goto">ƏTRAFLI</a><a href="/register" class="goto">QEYDİYYAT</a>
            </div>
        </div>
    </div>
    <div class="row"><!-- second row -->
        <!-- first column -->
        <div class="col-md-3 col-sm-6 courses">
            <img src="images/icons/design.svg">
            <p>QRAFİK DİZAYN</p>
            <div class="middle">
                <a href="/courses/qrafik-dizayn/13" class="goto">ƏTRAFLI</a><a href="/register" class="goto">QEYDİYYAT</a>
            </div>
        </div>
        <!-- second column -->
        <div class="col-md-3 col-sm-6 courses">
            <img src="images/icons/coding.svg">
            <p>PROQRAMLAŞDIRMA VƏ KODLAŞDIRMA</p>
            <div class="middle">
                <a href="/courses/proqramlasdirma-ve-kodlasdirma/17" class="goto">ƏTRAFLI</a><a href="/register" class="goto">QEYDİYYAT</a>
            </div>
        </div>
        <!-- third column -->
        <div class="col-md-3 col-sm-6 courses">
            <img src="images/icons/presentation.svg">
            <p>BİZNES VƏ MENECMENT</p>
            <div class="middle">
                <a href="/courses/biznes-ve-menecment/14" class="goto">ƏTRAFLI</a><a href="/register" class="goto">QEYDİYYAT</a>
            </div>
        </div>
        <!-- fourth column -->
        <div class="col-md-3 col-sm-6 courses">
            <img src="images/icons/woman.svg">
            <p>FƏRDİ İNKİŞAF</p>
            <div class="middle">
                <a href="/courses/ferdi-inkisaf/15" class="goto">ƏTRAFLI</a><a href="/register" class="goto">QEYDİYYAT</a>
            </div>
        </div>
    </div>
</div>