<div class="container">
    <div class="row baners">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div id="LogoCarousel" class="carousel slide">

                <!-- Carousel items -->
                <div class="carousel-inner">

                    <div class="item active">
                        <div class="row">
                            {% for partner in partners %}
                            <div class="col-md-2 col-xs-4"><a href="#" class="thumbnail"><img src="images/partners/{{partner.file}}" alt="{{partner.name}}" style="max-height:80px;"></a></div>
                            {% endfor %}
                            <div class="col-md-2 col-xs-4"><a href="#" class="thumbnail"><img src="images/baners/koica.jpg" alt="Image" style="max-height:80px;"></a></div>

                        </div><!--.row-->

                    </div><!--.item-->

                    <div class="item">
                        <div class="row">
                            {% for partner in partners %}
                            <div class="col-md-2 col-xs-4"><a href="#" class="thumbnail"><img src="images/partners/{{partner.file}}" alt="{{partner.name}}" style="max-height:80px;"></a></div>
                            {% endfor %}
                            <div class="col-md-2 col-xs-4"><a href="#" class="thumbnail"><img src="images/baners/koica.jpg" alt="Image" style="max-height:80px;"></a></div>

                        </div><!--.row-->

                    </div><!--.item-->


                </div>

            </div>
        </div>
    </div>
</div>