<a class="btn btn-primary" href="/admin/photo/add">Add Photo</a>
<table class="table table-hover table-responsive">
    <thead>

    <tr>
        <th>Id</th>
        <th>Photo</th>
        <th>Photo Title</th>
        <th>File name</th>
        <th>Size</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td><img class='img-responsive' width='130px'src="../../images/gallery/07.jpg" alt="">
            <div class="action_links">
                <a href="">Delete</a>
                <a href="">Edit</a>
                <a href="/gallery/photos">View</a>
            </div>
        </td>
        <td>awawdawd</td>
        <td>wsdawdawd</td>
        <td>adawdawd</td>
        <td><a href="">Comments</a></td>
    </tr>

    </tbody>


</table>