<a class="btn btn-primary" href="/admin/photo/add">Add Photo</a>
<nav aria-label="..." class="pull-right">
    <ul class="pagination">

      {% if pages > 1 %}

        {% for page in 1..pages %}

            {% if page == current_page %}

                <li class="page-item active"><a class="page-link " href="/admin/photo/show?page={{page}}">{{page}}</a></li>

            {% else %}

                <li class="page-item"><a class="page-link " href="/admin/photo/show?page={{page}}">{{page}}</a></li>

            {% endif %}

        {% endfor %}

       {% endif %}

    </ul>
</nav>
<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>Photo</th>
            <th>Photo Title</th>
            <th>File name</th>
            <th>Size</th>
        </tr>
    </thead>
    <tbody>
    {% for photo in photos %}
    <tr>
        <td>{{ photo.media_id }}</td>
        <td>
            <img class='img-responsive'  width='130px'src="../../images/gallery/{{photo.media_filename}}" alt="">
        </td>
        <td>{{ photo.media_title }}</td>
        <td>{{ photo.media_filename }}</td>
        <td>{{ photo.media_size }}</td>
        <td style="width: 70px"><a  class="btn btn-danger"  href="/admin/photo/delete/{{photo.media_id}}">Delete</a></td>
    </tr>
    {% endfor %}
    </tbody>



</table>