<form action="" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Post Title</label>
        <input value="" type="text" class="form-control" name="post_title">
    </div>

    <div class="form-group">
        <label for="title">Post Author</label>
        <input value="" type="text" class="form-control" name="post_author">
    </div>

    <div class="form-group">
        <label for="title">Post Status</label>
        <input value="" type="text" class="form-control" name="post_status">
    </div>

    <div class="form-group">
        <label for="post_image">Post Image</label>
        <input  type="file"  name="post_image">
        <img  width="100" src="" alt="" />
    </div>


    <div class="form-group">
        <select class="selectpicker" data-live-search="true" name="category_id" >
            {% for category in postCategory %}
            <option data-tokens="ketchup mustard"  name="category_id" value="{{category.category_id}}">{{category.category_name}}</option>
            {% endfor %}
        </select>

    </div>

    <div class="form-group">
        <label for="title">Post Content</label>
        <textarea value="" class="form-control" id="" cols="30" rows="10"  name="post_content"></textarea>
    </div>


    <div class="form-group">
        <input type="submit" class="btn-btn-primary" name="update" value="Submit">
    </div>

</form>