

 {% if lang == 'az' or lang == null %}
<form action="/admin/post/update/{{id}}" method="post" enctype="multipart/form-data">
    
    {% elseif lang == 'en' %}
    
    <form action="/admin/post/update/{{id}}?lang=en" method="post" enctype="multipart/form-data">
          {% endif %}
    <div class="form-group">
        <label for="title">Post Title</label>
        <input value="{{post.post_title}}" type="text" class="form-control" name="post_title">
    </div>


    <div class="form-group">
        <label for="Body">Post Body</label>
        <textarea value="" class="form-control" id="" cols="30" rows="10"  name="post_body">{{post.post_body}}</textarea>
    </div>


    <div class="form-group">
        <select class="selectpicker" data-live-search="true" name="category_id" >
            {% for category in postCategory %}
            <option data-tokens="ketchup mustard"  name="category_id" value="{{category.category_id}}">{{category.category_name}}</option>
            {% endfor %}
        </select>

    </div>



<!--    <div class="form-group">
        <label for="post_image">Post Image</label>
        <input  type="file"  name="post_image" value="">
        <img  width="100" src="{{post.image}}" alt="" />
    </div>-->



<div class="form-group">
        <button class="btn btn-primary" type="submit">Update</button>
    </div>

</form>