{% for error in errors %}
{{error}}
{% endfor %}

<a class="btn btn-primary" href="/admin/post/add">Add Post</a>
<!--<nav aria-label="..." class="pull-right">-->
    <!--<ul class="pagination">-->

        <!--{% if pages > 1 %}-->

        <!--{% for page in 1..pages %}-->

        <!--{% if page == current_page %}-->

        <!--{% if lang %}-->
        <!--<li class="page-item active"><a class="page-link " href="/admin/news/show?lang={{lang}}&page={{page}}">{{page}}</a></li>-->
        <!--{% else %}-->
        <!--<li class="page-item active"><a class="page-link " href="/admin/news/show?page={{page}}">{{page}}</a></li>-->
        <!--{% endif %}-->

        <!--{% else %}-->

        <!--{% if lang %}-->
        <!--<li class="page-item"><a class="page-link " href="/admin/news/show?lang={{lang}}&page={{page}}">{{page}}</a></li>-->
        <!--{% else %}-->
        <!--<li class="page-item"><a class="page-link " href="/admin/news/show?page={{page}}">{{page}}</a></li>-->
        <!--{% endif %}-->

        <!--{% endif %}-->

        <!--{% endfor %}-->

        <!--{% endif %}-->

    <!--</ul>-->
<!--</nav>-->

<table class="table-responsive-sm  table-striped table table-hover table-responsive">
    <thead class="table-responsive-sm">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Date</th>
        <th>Category</th>
        <th>Image</th>
    </tr>
    </thead>
    <tbody>

    {% for post in posts %}

    <tr>
        <td style="width: 30px">{{post.post_id}}</td>
        <td style="width: 170px">{{post.post_title}}</td>
        <td style="width: 100px">{{ post.date|date("d/m/y")}}</td>
        {% if post.category_id == 2 %}
        <td style="width: 100px">Elan</td>
        {% elseif post.category_id == 3 %}
        <td style="width: 100px">Tədbir</td>
        {% elseif post.category_id == 4 %}
        <td style="width: 100px">Məqalə</td>
        {% endif %}
        <td style="width: 90px">
            <img src="../../images/posts/{{post.image}}" class="img-responsive img-thumbnail" height="70px!important" width='90px' src="" alt="">
        </td>


        {% if lang == 'az' or lang == null %}

        <td style="width: 100px"><a href="/post/{{post.post_id}}" class="btn btn-success" value="" >View Post</a> </td >
        <td style="width: 80px"><a href="/admin/post/edit/{{post.post_id}}" class="btn btn-info" value="" >Update</a> </td >


        {% elseif lang == 'en' %}

        <td style="width: 100px"><a href="/post/{{post.post_id}}?lang=en" class="btn btn-success" value="" >View Post</a> </td >
        <td style="width: 80px"><a href="/admin/post/edit/{{post.post_id}}?lang=en" class="btn btn-info" value="" >Update</a> </td >

        {% endif %}

        <td style="width: 100px" ><a href="/admin/post/delete/{{post.post_id}}" class="btn btn-danger" value="" >Delete</a> </td>

    </tr>

    {% endfor %}

    </tbody>
</table>