body{
    margin-top:3em !important;
}

.center_div{
    margin: 0 auto;
    width:100px; /* value of your choice which suits your alignment */
    margin-bottom: 30px;
}

.fgt{
    width:117px;
    margin: 0 auto;
    margin-top: 60px;
}

