<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Position</th>
        <th>Image</th>
        <th>E-mail</th>


    </tr>
    </thead>
    <tbody>
    <tr>

        <td>1</td>
        <td><a href="">Elshan Akbarov</a></td>
        <td>CEO & Founder</td>
        <td style=" width:130px "><img class='img-responsive'  width='130px'src="../../images/gallery/04.jpg" alt="">
        <td>elshanakbarov@gmail.com</td>

    </tr>
    </tbody>
</table>