{% for error in errors %}
{{error}}
{% endfor %}

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Position</th>
        <th>Image</th>
        <th>E-mail</th>
    </tr>
    </thead>

    <tbody>
        {% for member in staff %}

            <tr>
                <td> {{ member.id }} </td>
                <td>
                    <a href="/staff/{{member.id}}">
                        {{member.name}} {{member.surname}}
                    </a>
                </td>

                <td> {{ member.position_category_id }} </td>

                <td style="width: 80px">
                    <img class="img-responsive img-thumbnail" height="60px!important" width='75px'src="../../images/staff/{{member.photo}}" alt="">
                </td>

                <td style="width: 150px"> {{ member.email }} </td>

                <td><a href="/admin/staff/edit/{{member.id}}">Edit</a></td>
                <td><a href="/admin/staff/delete/{{member.id}}">Delete</a></td>
            </tr>

        {% endfor %}
    </tbody>

</table>