<form action="">

    <div class="input-group ">

        <span class="input-group-addon">Name</span>
        <input type="text" class="form-control" placeholder="Type something..." />
        <span class="input-group-addon" style="border-left: 0; border-right: 0;">Link</span>
        <input type="text" class="form-control" placeholder="Type something..." />

        <span class="input-group-btn"><button class="btn btn-success" type="button">Add Link</button></span>

    </div>

</form>
<hr>
<div class="form-group ">
    <div class="container-fluid">
        <table class="table-responsive-sm  table-striped table table-hover table-responsive">
            <thead class="table-responsive-sm">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Link</th>
            </tr>
            </thead>

            <tbody class="table-responsive-sm">
                <td>1</td>
                <td>PORTALA KEÇİD</td>
                <td>https://stackoverflow.com/</td>
                <td style="width: 50px"><a class="btn btn-info" href="/admin/staff/edit/">Edit</a></td>
                <td style="width: 70px"><a class="btn btn-danger" href="/admin/staff/delete/">Delete</a>
            </tbody>


        </table>

    </div>
