<form action="">

    <div class="form-group">
        <label for="facebook">Facebook</label>
        <input type="text" name="facebook" placeholder="Facebook" class="form-control">
    </div>

    <div class="form-group">
        <label for="facebook">Twitter</label>
        <input type="text" name="twitter" placeholder="Twitter" class="form-control">
    </div>

    <div class="form-group">
        <label for="facebook">Linked In</label>
        <input type="text" name="linkedin" placeholder="Linked In" class="form-control">
    </div>

    <div class="form-group">
        <label for="facebook">Youtube</label>
        <input type="text" name="youtube" placeholder="Youtube" class="form-control">
    </div>

    <div class="form-group">
        <button class="btn btn-success">
                Add Socials
        </button>
    </div>

</form>