<div class="row">
    <div class="col-lg-12" >
        <form class="dropzone" id="uploads"action="/admin/photo/create"></form>
    </div>

</div>

<div id="msg">

    <hr>
    <div class="form-group ">
        <div class="container-fluid">
            <table class="table-responsive-sm  table-striped table table-hover table-responsive">
                <thead class="table-responsive-sm">
                <tr>
                    <th>Id</th>
                    <th>Img</th>
                </tr>
                </thead>

                <tbody class="table-responsive-sm">
                <td style="width: 10px">1</td>
                <td style="width: 10px">https://stackoverflow.com/</td>
                <td style="width: 10px"><a class="btn btn-info" href="/admin/staff/edit/">Edit</a></td>
                <td style="width: 10px"><a class="btn btn-danger" href="/admin/staff/delete/">Delete</a>
                </tbody>


            </table>

        </div>
