
<h1>Update page</h1>
 {% if lang == 'az' or lang == null %}
 
    <form action='/admin/city/update/{{id}}' method="post" enctype="multipart/form-data" >
  
    {% elseif lang == 'en' %}
    
    <form action='/admin/city/update/{{id}}?lang=en' method="post" enctype="multipart/form-data" >
        
     {% endif %}
    <div class="form-group">
        <label for="inputName">City Name</label>
        <input value="{{city.city_name}}" type="text" class="form-control" name="name" required >
    </div>
        <div class="form-group">

            <label for="info">City info </label>
            <textarea name="info">{{city.city_info}}</textarea>
            <script>CKEDITOR.replace( 'info' );</script>

        </div>

    <div class="form-group">
        <label for="intputPostalCode">Postal Code</label>
        <input value="{{city.postal_code}}" type="text" class="form-control" name="postal_code" required>
    </div>

    <div class="form-group">
        <label for="inputFax">Fax</label>
        <input value="{{city.fax}}" type="text" class="form-control" name="fax" required>
    </div>


    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input value="{{city.email}}" type="email" class="form-control" name="email" required>
    </div>

    <div class="form-group">
        <label for="inputAddress">Address</label>
        <input value="{{city.address}}" type="text" class="form-control" name="address" required>
    </div>

    <div class="form-group">
        <label for="inputNumber">Phone Number</label>
        <input value="{{city.phone_number}}" type="text" class="form-control" name="number" required>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Update</button>
    </div>

</form>