{% extends 'base.html' %}



{% block subheading %} City {% endblock %}

{% block context %}

        {% if source == "show" %}

            {% include "City/show_city.html" %}
            
        {% elseif source == "get" %}
        
            {% include "City/edit_city.html" %}            

        {% elseif source == "about" %}
        
          {% include "City/about.html" %}   
          
        {% elseif source == "add" %}

            {% include "City/add_city.html" %}

        {% elseif source == "addPhoto" %}

            {% include "City/add_photo.html" %}

        {% else %}

            {% include "City/show_city.html" %}

        {% endif %}

{% endblock %}

