{% extends 'base.html' %}

{% block subheading %} City {% endblock %}
{% block context %}



        {% if source == "show" %}

            {% include "City/show_city.html" %}
            
        {% elseif source == "get" %}
             
            {% include "City/edit_city.html" %}            

        {% elseif source == "add" %}

            {% include "City/add_city.html" %}

            {% block message %} Add {% endblock %}

        
        {% else %}

            {% include "City/show_city.html" %}

        {% endif %}


{% endblock %}

