


<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>City name</th>
            <th>City info</th> 
            <th>Address</th>
             <th colspan="2">Modify</th>
        </tr>
    </thead>
    <tbody>

        {% for cities in city %}
         <tr>
            <td>{{cities.id}}</td>


            
            <td>{{cities.city_name}}</td> 
            <td>{{cities.city_info}}</td>  
            <td>{{cities.address}}</td>
          {% if lang == 'az' or lang == null %}

                <td><a href="get/{{cities.id}}" class="btn btn-info" value="" >Update</a> </td >
 
             {% elseif lang == 'en' %}

                 <td><a href="get/{{cities.id}}?lang=en" class="btn btn-info" value="" >Update</a> </td >

             {% endif %}
            <td ><a href="delete/{{cities.id}}" class="btn btn-danger" value="" >Delete</a> </td>
<!--             <td> <a href="get/{{cities.id}}" class="btn btn-info" value="" >Update</a> </td >-->
          </tr> 
         {% endfor %}



</tbody>
</table>
