<!DOCTYPE html>
<html lang="en">
    <body>
        {% include "includes/header.html" %}
    <body>
        <!-- Fixed navbar -->
        {% include "includes/navigation.html"  %}
        <!-- end of navbar -->

        <!-- Head BAR -->
        {% include "includes/jumbotron_logo.html" %}

        <!-- End of Head BAR -->

        <div class="container-fluid nav-path">
            <div class="container">
                <div class="col-sm-12 col-xs-12"><!-- content section -->
                    <ol class="breadcrumb">
                        <li><a href="#">Ana Səhifə</a></li>
                        <li><a href="#">Təlimlər</a></li>
                      
                        {% for crs in  course %}
                        <li class="active">{{crs.training_name}}</li>
                 
                        {% endfor %}

                    </ol>
                </div>
            </div>
        </div>

        <!-- CONTENT: About -->
        <div class="container">
            <div class="row content">
                <div class="col-md-9 col-sm-12 col-xs-12 main-side"><!-- content section -->
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            {% for crs in  course %}
                            <h3><i class="fa fa-fw fa-dot-circle-o"></i>{{crs.training_name}}</h3>
                          
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 course">
                            <p class="info1"><b>Kursun müddəti</b></p>
                            <p class="sel-description"><b>{{crs.training_duration}}</b></p>
                            
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 course">
                            <p class="info2"><b>Kursun vaxtı</b></p>
                            <p class="sel-description"> <b>{{crs.training_hours}} SAAT</b></p>
                            
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 course">
                            <p class="info3"><b>İştrakçı sayı</b></p>
                           
                            <p><b>{{crs.training_applicant}}</b><br></p>
                        </div>
               
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <hr>
                            <p><span class="info5"><b>Kim iştirak edə bilər?</span></b></p>
                            <p>{{crs.info | raw}}</p>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <p><span class="info5"><b>Kursun məqsədi nədir?</b></span></p>
                            <p>{{crs.description | raw}}</p>
                        </div>
                        
                          {% endfor %}
                       
                        <div class="centralize">
                            <p>&nbsp;</p>
                            <a type="button" class="btn btn-default btn-md" href="/register">QEYDİYYAT</a>&nbsp;
                            <a type="button" class="btn btn-default btn-md" href="/question">SUAL VER / ZƏNG EDƏK</a>
                        </div>
                    </div>
                </div> <!-- end of section -->

        <div class="col-md-3 col-sm-12 col-xs-12 side-nav"><!-- sidebar section -->
            <div class="side-nav-inside">
                <ul>
                    <h4>PROQRAMLAŞDIRMA VƏ KODLAŞDIRMA</h4>
                    <li class="active"><i class="fa fa-long-arrow-right"></i> Veb layihələrin hazırlanması</li>
                    <li><a href="#">Java proqramlaşdırma</a></li>
                    <li><a href="#">Python proqramlaşdırma</a></li>
                    <li><a href="#">C++ proqramlaşdırma</a></li>
                    <li><a href="#">Uşaqlar üçün Scratch proqramlaşdırma</a></li>
                </ul>
            </div>
        </div>
            </div>
        </div>
        <!-- closing CONTENT -->

        <!-- FOOTER -->

        <!-- ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        {% include "includes/footer.html" %}

        <script src="js/plugins.js"></script>
        <script src="js/jquery.prettyPhoto.js"></script>
        <script src="js/main.js"></script>
        <script>
$(document).ready(function () {
    $("#news-slider").owlCarousel({
        items: 2,
        itemsDesktop: [1199, 2],
        itemsDesktopSmall: [980, 2],
        itemsMobile: [700, 1],
        pagination: false,
        navigation: true,
        navigationText: ["", ""],
        autoPlay: true
    });
    $("a").tooltip(); // for tooltips

    // Colorbox Call
    $(document).ready(function () {
        $("[rel^='lightbox']").prettyPhoto();
    });

});
        </script>
    </body>
</html>