<!DOCTYPE html>
<html lang="en">
<body>
{% include "includes/header.html" %}
<body>
<!-- Fixed navbar -->
{% include "includes/navigation.html"  %}
<!-- end of navbar -->

<!-- Head BAR -->
{% include "includes/jumbotron_logo.html" %}

<!-- End of Head BAR -->

<div class="container-fluid nav-path">
    <div class="container">
        <div class="col-sm-12 col-xs-12"><!-- content section -->
            <ol class="breadcrumb">
                <li><a href="#">Ana Səhifə</a></li>
                <li><a href="#">Təlimlər</a></li>
                <li><a href="#">Proqramlaşdırma və kodlaşdırma</a></li>
                <li class="active">Veb layihələrin hazırlanması</li>
            </ol>
        </div>
    </div>
</div>

<!-- CONTENT: About -->
<div class="container">
    <div class="row content">
        <div class="col-md-9 col-sm-12 col-xs-12 main-side"><!-- content section -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h3><i class="fa fa-fw fa-dot-circle-o"></i>Veb layihələrin hazırlanması</h3>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 course">
                    <p class="info1"><b>Kursun müddəti</b></p>
                    <p class="sel-description"><b>5 AY</b></p>
                    <p class="sel-description"><b>450 SAAT</b></p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 course">
                    <p class="info2"><b>Kursun vaxtı</b></p>
                    <p class="sel-description">B.E. <b>18:00 - 19:30</b></p>
                    <p class="sel-description">C.A. <b>18:00 - 19:30</b></p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 course">
                    <p class="info3"><b>Təlimçi</b></p>
                    <img src="images/staff/staff_1.jpg">
                    <p><b>Vahid Osmanov</b><br>proqramçı</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 course">
                    <p class="info4"><b>Kursun proqramı</b></p>
                    <a class="pdf" href="#"><h1><i class="fa fa-fw fa-file-pdf-o" aria-hidden="true"></i></h1></a>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr>
                    <p><span class="info5"><b>Kim iştirak edə bilər?</span></b></p>
                    <p>Universitet tələbələri və maraqlanan hər kəs...</p>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p><span class="info5"><b>Kursun məqsədi nədir?</b></span></p>
                    <p> Məqsəd qrafik və veb dizayn sahələrində karyeraya başlamaq istəyən və fəaliyyət göstərən insanları sektorun ehtiyaclarına uyğun peşəkar olaraq yetişdirməkdir. Eyni zamanda praktika üzərində qurulmuş təhsil modeli ilə tələbələri beynəlxalq sertifikatlara hazırlayaraq, onlara beynəlxalq səviyyəli mütəxəssis adı qazandırmaq ən əsas məqsədlərimizdəndir.</p>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p><span class="info5"><b> Tədris proqramı:</b></span>
                    </p>
                    <ul>
                        <li class="darkbg">İnternet dizayn və proqramlaşdırma sahəsində ümumi təsəvvür;</li>
                        <li class="darkbg">HTML və müasir HTML 5 skript dilləri ilə işləyə bilmə bacarıqları;</li>
                        <li class="darkbg">CSS və müasir CSS 3 haqqında fundamental biliklər;</li>
                        <li class="darkbg">CSS stillərin veb səhifələrə tətbiq olunması və HTML şablonların yaradılması;</li>
                        <li class="darkbg">Veb səhifələrin axtarış robotlarında asan indeksləşdirilə bilməsi üçün meta teqlərlə işləmə bacarıqları;</li>
                        <li class="darkbg">Bootstrap texnologiyasının tətbiqi ilə sadə statik veb-səhifələrin yaradılması;</li>
                        <li class="darkbg">Worpress əsasında sadə saytların yaradılması.</li>
                    </ul>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p><span class="info5"><b> Sertifikatlar:</b></span>
                    </p>
                    <ul>
                        <li class="silverbg">Adobe Illustrator ACA (Adobe Certified Associate);</li>
                        <li class="silverbg">Adobe Photoshop ACA (Adobe Certified Associate);</li>
                        <li class="silverbg">Adobe InDesign ACA (Adobe Certified Associate)</li>
                    </ul>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p><span class="info5"><b> İş sahələri:</b></span>
                    </p>
                    <ul>
                        <li class="silverbg">Reklam şirkətləri;</li>
                        <li class="silverbg">Qrafik dizayn studiyaları;</li>
                        <li class="silverbg">Veb dizayn şirkətləri;</li>
                        <li class="silverbg">Qəzet və jurnal redaksiyaları;</li>
                        <li class="silverbg">Şirkətlərin marketing və reklam bölmələrində;</li>
                        <li class="silverbg">Şirkətlərin online tədris bölmələrində;</li>
                        <li class="silverbg">Freelancer olaraq çalışmaq (sərbəst).</li>
                    </ul>
                </div>
                <div class="centralize">
                    <p>&nbsp;</p>
                    <a type="button" class="btn btn-default btn-md">QEYDİYYAT</a>&nbsp;
                    <a type="button" class="btn btn-default btn-md">SUAL VER / ZƏNG EDƏK</a>
                </div>
            </div>
        </div> <!-- end of section -->

        <div class="col-md-3 col-sm-12 col-xs-12 side-nav"><!-- sidebar section -->
            <div class="side-nav-inside">
                <ul>
                    <h4>PROQRAMLAŞDIRMA VƏ KODLAŞDIRMA</h4>
                    <li class="active"><i class="fa fa-long-arrow-right"></i> Veb layihələrin hazırlanması</li>
                    <li><a href="#">Java proqramlaşdırma</a></li>
                    <li><a href="#">Python proqramlaşdırma</a></li>
                    <li><a href="#">C++ proqramlaşdırma</a></li>
                    <li><a href="#">Uşaqlar üçün Scratch proqramlaşdırma</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- closing CONTENT -->

<!-- FOOTER -->

<!-- ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

{% include "includes/footer.html" %}

<script src="js/plugins.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/main.js"></script>
<script>
    $(document).ready(function() {
        $("#news-slider").owlCarousel({
            items : 2,
            itemsDesktop:[1199,2],
            itemsDesktopSmall:[980,2],
            itemsMobile : [700,1],
            pagination:false,
            navigation:true,
            navigationText:["",""],
            autoPlay:true
        });
        $("a").tooltip(); // for tooltips

        // Colorbox Call
        $(document).ready(function(){
            $("[rel^='lightbox']").prettyPhoto();
        });

    });
</script>
</body>
</html>