<!DOCTYPE html>
<html lang="en">
    {% include "includes/header.html" %}

    <body>
        <!-- Fixed navbar -->
        {% include "includes/navigation.html" %}
        <!-- end of navbar -->
        {% include "includes/jumbotron_logo.html" %}
        <!-- Head BAR -->

        <!-- End of Head BAR -->

        <div class="container-fluid nav-path">
            <div class="container">
                <div class="col-sm-12 col-xs-12"><!-- content section -->
                    <ol class="breadcrumb">
                        <li><a href="#">Ana Səhifə</a></li>
                        <li><a href="#">Qeydiyyat</a></li>
                        <li class="active">Sual ver</li>
                    </ol>
                </div>
            </div>
        </div>

        <!-- CONTENT: About -->
        <div class="container">
            <div class="row content">
                <div class="col-md-9 col-sm-12 col-xs-12 main-side"><!-- content section -->
                    <h3><i class="fa fa-fw fa-dot-circle-o"></i>Sual ver</h3>
                    <div class="row">
                        <form target="_self" method="POST" enctype="multipart/form-data">
                            <div class="col-md-6 forms">
                                <input id="first_name" type="text" placeholder="Adınız" aria-describedby="basic-addon1" name="first_name" 
                                       aria-label="first_name" dir="auto" data-initial-dir="auto" data-initial-value>
                            </div>
                            <div class="col-md-6 forms">
                                <input id="last_name"  type="text" placeholder="Soyadınız" aria-describedby="basic-addon1" name="last_name"
                                       aria-label="Surname" dir="auto" data-initial-dir="auto" data-initial-value>
                            </div>
<!--                            <div class="col-md-6 forms">
                                <input  id="number"  type="text" placeholder="Number" aria-describedby="basic-addon1" name="number" aria-label="Phone number"
                                        dir="auto" data-initial-dir="auto" data-initial-value >   
                            </div>-->
                            <div class="col-md-6 forms">
                                <input id="email"  type="email" name="email" placeholder="Email" aria-describedby="basic-addon1"  aria-label="Email"
                                       dir="auto" data-initial-dir="auto" data-initial-value>
                            </div>

<!--                            <div class="col-md-12 forms">
                                <textarea id="Question"  placeholder="Suallarınızı daxil edin..." name="question" aria-label="Your question here"
                                          dir="auto" data-initial-dir="auto" data-initial-value></textarea>   
                            </div>-->
                            <div class="col-md-6 forms">
                                <input id="submit" name="submit" type="button" class="form_button" value="Submit" onClick="submit_form()">
                            </div>
                        </form>
                    </div>		  				 	 	 
                </div> <!-- end of section -->

                <div class="col-md-3 col-sm-12 col-xs-12 side-nav"><!-- sidebar section --> 
                    <div class="side-nav-inside"> 				
                        <ul>
                            <h4>QEYDİYYAT</h4>
                            <li><a href="#">İlkin qeydiyyat</a></li>
                            <li class="active"><i class="fa fa-long-arrow-right"></i> Sual ver</li>
                            <li><a href="#">Zəng edək</a></li>
                            <li><a href="#">Təlimçi ol</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- closing CONTENT -->





        <!-- FOOTER -->

        {% include "includes/footer.html" %}

        <!-- ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->


        <script src="js/plugins.js"></script>
        <script src="js/jquery.prettyPhoto.js"></script>
        <script src="js/main.js"></script>
        <script>
                                  $(document).ready(function () {
                                      $("#news-slider").owlCarousel({
                                          items: 2,
                                          itemsDesktop: [1199, 2],
                                          itemsDesktopSmall: [980, 2],
                                          itemsMobile: [700, 1],
                                          pagination: false,
                                          navigation: true,
                                          navigationText: ["", ""],
                                          autoPlay: true
                                      });
                                      $("a").tooltip(); // for tooltips

                                      // Colorbox Call
                                      $(document).ready(function () {
                                          $("[rel^='lightbox']").prettyPhoto();
                                      });

                                  });



                                  function submit_form() {
                                      // Check Fields
                                      var complete = true;
                                      var error_color = '#FFD9D9';
                                      var fields = ['first_name', 'last_name', 'email'];
                                      var row = '';
                                      var i;
                                      for (i = 0; i < fields.length; ++i) {
                                          var field = fields[i];
                                          $('#' + field).css('backgroundColor', 'inherit');
                                          var value = $('#' + field).val();
                                          // Validate Field
                                          if (!value) {
                                              if (field != 'message') {
                                                  $('#' + field).css('backgroundColor', error_color);
                                                  var complete = false;
                                              }
                                          } else {
                                              // Sheet Data
                                              row += '"' + value + '",';
                                          }
                                      }

                                      // Submission
                                      if (complete) {
                                          // Clean Row
                                          row = row.slice(0, -1);
                                          // Config
                                          var gs_sid = '1UaICaX-7JFEECJhJ-E31J_lnCgo6QmJ45Mvq3CBoF_Y'; // Enter your Google Sheet ID here
                                          var gs_clid = '931826885258-qb5lff27f79l3s66ufriebi2v1sdc0sf.apps.googleusercontent.com'; // Enter your API Client ID here
                                          var gs_clis = 'SWriR1bV0_Yh8Vmp5l4sONBb'; // Enter your API Client Secret here
                                          var gs_rtok = '1/IgbG6C1OflWc8RaLzQrd9jeNsQlr3MqunVR8OJRuCx4'; // Enter your OAuth Refresh Token here
                                          var gs_atok = false;
                                          var gs_url = 'https://sheets.googleapis.com/v4/spreadsheets/' + gs_sid + '/values/A1:append?includeValuesInResponse=false&insertDataOption=INSERT_ROWS&responseDateTimeRenderOption=SERIAL_NUMBER&responseValueRenderOption=FORMATTED_VALUE&valueInputOption=USER_ENTERED';
                                          var gs_body = '{"majorDimension":"ROWS", "values":[[' + row + ']]}';
                                          // HTTP Request Token Refresh
                                          var xhr = new XMLHttpRequest();
                                          xhr.open('POST', 'https://www.googleapis.com/oauth2/v4/token?client_id=' + gs_clid + '&client_secret=' + gs_clis + '&refresh_token=' + gs_rtok + '&grant_type=refresh_token');
                                          xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                                          xhr.onload = function () {
                                              var response = JSON.parse(xhr.responseText);
                                              var gs_atok = response.access_token;
                                              // HTTP Request Append Data
                                              if (gs_atok) {
                                                  var xxhr = new XMLHttpRequest();
                                                  xxhr.open('POST', gs_url);
//                                                  xxhr.setRequestHeader('Content-length', gs_body.length);
                                                  xxhr.setRequestHeader('Content-type', 'application/json');
                                                  xxhr.setRequestHeader('Authorization', 'OAuth ' + gs_atok);
                                                  xxhr.onload = function () {
                                                      if (xxhr.status == 200) {
                                                          // Success
                                                          $('#message').html('<p>Row Added to Sheet | <a href="http://snydergroupinc.com/tutorials/tutorial-google-sheets-api.php">Add Another &raquo;</a></p><p>Response:<br/>' + xxhr.responseText + '</p>');
                                                      } else {
                                                          // Fail
                                                          $('#message').html('<p>Row Not Added</p><p>Response:<br/>' + xxhr.responseText + '</p>');
                                                      }
                                                  };
                                                  xxhr.send(gs_body);
                                              }
                                          };
                                          xhr.send();
                                      }
                                  }



        </script>
    </body>
</html>