<!DOCTYPE html>
<html lang="en">
    {% include "includes/header.html" %}

    <body>
        <!-- Fixed navbar -->
        {% include "includes/navigation.html" %}
        <!-- end of navbar -->

        <!-- Head BAR -->
        {% include "includes/jumbotron_logo.html" %}
        <!-- End of Head BAR -->

        <div class="container-fluid nav-path">
            <div class="container">
                <div class="col-sm-12 col-xs-12"><!-- content section -->
                    <ol class="breadcrumb">
                        <li><a href="#">Ana Səhifə</a></li>
                        <li><a href="#">Mərkəz</a></li>
                        <li class="active">Haqqımızda</li>
                    </ol>
                </div>
            </div>
        </div>

        <!-- CONTENT: About -->
        <div class="container">
            <div class="row content">
                <div class="col-md-9 col-sm-12 col-xs-12 main-side"><!-- content section -->
                    

                    <p class="highlighted"></p>
                    {% if  city_info.id != NULL %}
                    <h3><i class="fa fa-fw fa-dot-circle-o"></i>{{city_info.city_name}}</h3>
                    <p>{{city_info.city_info}}</p>
                    <ul class="">
                        <li class="">Poçt kodu: {{city_info.postal_code}}</li>
                        <li class="">Faks: {{city_info.fax}}</li>
                        <li class="">Email: {{city_info.email}}</li>
                        <li class="">Ünvan: {{city_info.address}}</li>
                        <li class="">Nömrə: {{city_info.city_phone}}</li>
                    </ul>
                    {% else %}

                    <h3><i class="fa fa-fw fa-dot-circle-o"></i>Haqqımızda</h3>
                    <p class="highlighted">{{about.info}}</p>
                    <p>{{about.description}}</p>

                    {% endif %}
                    <div class="row gallery">
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <a class="thumbnail" rel="lightbox[group]" href="images/gallery/08.jpg"><img class="group1" src="images/gallery/08.jpg" title="e-GOV training session" /></a>
                        </div> <!--end thumb -->
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <a class="thumbnail" rel="lightbox[group]" href="images/gallery/04.jpg"><img class="group1" src="images/gallery/04.jpg" title="e-GOV training session" /></a>
                        </div> <!--end thumb -->
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <a class="thumbnail" rel="lightbox[group]" href="images/gallery/01.jpg"><img class="group1" src="images/gallery/01.jpg" title="e-GOV training session" /></a>
                        </div> <!--end thumb -->
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <a class="thumbnail" rel="lightbox[group]" href="images/gallery/05.jpg"><img class="group1" src="images/gallery/05.jpg" title="e-GOV training session" /></a>
                        </div> <!--end thumb -->
                    </div>
                    <div class="row gallery">
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <a class="thumbnail" rel="lightbox[group]" href="images/gallery/09.jpg"><img class="group1" src="images/gallery/09.jpg" title="e-GOV training session" /></a>
                        </div> <!--end thumb -->
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <a class="thumbnail" rel="lightbox[group]" href="images/gallery/12.jpg"><img class="group1" src="images/gallery/12.jpg" title="e-GOV training session" /></a>
                        </div> <!--end thumb -->
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <a class="thumbnail" rel="lightbox[group]" href="images/gallery/03.jpg"><img class="group1" src="images/gallery/03.jpg" title="e-GOV training session" /></a>
                        </div> <!--end thumb -->
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <a class="thumbnail" rel="lightbox[group]" href="images/gallery/07.jpg"><img class="group1" src="images/gallery/07.jpg" title="e-GOV training session" /></a>
                        </div> <!--end thumb -->
                    </div> <!-- /row -->

                </div> <!-- end of section -->

                <div class="col-md-3 col-sm-12 col-xs-12 side-nav"><!-- sidebar section -->
                    <div class="side-nav-inside">
                        <ul>
                            <h4>OFİSLƏRİMİZ</h4>
                            {% for cities in city %}

                            <li class="" >
                                <i class="fa fa-long-arrow-right">
                                    <a href="/about/{{cities.id}}">{{cities.city_name}}</a>
                                </i>
                            </li>

                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- closing CONTENT -->

        <!-- FOOTER -->
        {% include "includes/footer.html" %}

        <script src="js/plugins.js"></script>
        <script src="js/jquery.prettyPhoto.js"></script>
        <script src="js/main.js"></script>
        <script>
$(document).ready(function () {
    $("#news-slider").owlCarousel({
        items: 2,
        itemsDesktop: [1199, 2],
        itemsDesktopSmall: [980, 2],
        itemsMobile: [700, 1],
        pagination: false,
        navigation: true,
        navigationText: ["", ""],
        autoPlay: true
    });
    $("a").tooltip(); // for tooltips

    // Colorbox Call
    $(document).ready(function () {
        $("[rel^='lightbox']").prettyPhoto();
    });

});
        </script>
    </body>
</html>