
{% for error in errors %}
{{error}}
{% endfor %}

<form action="/admin/training/create" method="post" >

    <div class="form-group">
        <label for="Name">Training Name</label>
        <input value="" type="text" class="form-control" name="training_name">
    </div>


    <div class="form-group">
        <label for="">Training Category</label> <br>
        <select class="selectpicker" name="category_id"  id="category_id">

            {% for category in trainingCategory %}
            <option data-tokens="ketchup mustard"  name="category_id" value="{{category.training_category_id}}">{{category.training_cat_name}}</option>
            {% endfor %}
        </select>
    </div>


    <div class=" form-group demo">
        <label for="daterange">Registration range</label>
        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
        <input type="text" class="form-control" name="training_apply_date" id="daterange">

    </div>
    <div class=" form-group demo">
        <label for="daterange">Course duration </label>
        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
        <input type="text" class="form-control" name="training_duration" id="daterange">

    </div>
    <div class="form-group">
        <label for="training_hours">Training Hours</label>
        <input value="" type="number" class="form-control" name="training_hours">
    </div>
    <div class="form-group">
        <label for="training_applicant">Training Applicant</label>
        <input value="" type="number" class="form-control" name="training_applicant">
    </div>




    <div class="form-group">
        <label for="info">Info</label>
        <textarea name="info" ></textarea>
        <script>
            CKEDITOR.replace('info');
        </script>
    </div>

    <div class="form-group">
        <label for="desc">Description</label>
        <textarea name="desc" ></textarea>
        <script>
            CKEDITOR.replace('desc');
        </script>
    </div>
    <div class="form-group">
        <label for="program">Program</label>
        <textarea name="program" ></textarea>
        <script>
            CKEDITOR.replace('program');
        </script>
    </div>
    <div class="form-group">
        <label for="field">Field</label>
        <textarea name="field" ></textarea>
        <script>
            CKEDITOR.replace('field');
        </script>
    </div>
    <div class="form-group">
        <label for="certificate">Certificate</label>
        <textarea name="certificate" ></textarea>
        <script>
            CKEDITOR.replace('certificate');
        </script>
    </div>
        <div class="form-group">
        <button  class="btn btn-primary" type="submit">Add Training</button>
    </div>

</form>
<script>
    $(document).ready(function () {
        $('input[name="training_apply_date"] , input[name="training_duration"]').daterangepicker(
                {
                    locale: {
                        format: 'YYYY/MM/DD'
                    },
                    startDate: '2013/01/01',
                    endDate: '2013/12/31'
                },
                function (start, end, label) {
                    alert("A new date range was chosen: " + start.format('YYYY/MM/DD') + ' to ' + end.format('YYYY/MM/DD'));
                });
    });


</script>
