<form action="/admin/training/update/{{training.training_id}}" method="post" >

    <div class="form-group">
        <label for="training_name">Training Name</label>
        <input  type="text" class="form-control" name="training_name" value="{{training.training_name}}">
    </div>

    <div class="form-group">
        <label for="">Training Category</label> <br>
        <select class="selectpicker" name="category_id"  id="category_id">

            {% for category in trainingCategory %}
            <option data-tokens="ketchup mustard"  name="category_id" value="{{category.training_category_id}}">{{category.training_cat_name}}</option>
            {% endfor %}
        </select>
    </div>
    {% if lang == 'az' or lang == null %}
    <div class=" form-group demo">
        <label for="daterange">Registration range</label>
        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
        <input type="text" class="form-control" name="training_apply_date" id="daterange" value="{{training.training_apply_date}}">

    </div>



    <div class="form-group demo">
        <label for="training_duration">Course duration </label>
        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
        <input type="text" class="form-control" name="training_duration" id="training_duration">

    </div>


    <div class="form-group">
        <label for="training_hours">Training Hours</label>
        <input value="{{training.training_hours}}" type="number" class="form-control" name="training_hours">
    </div>
    <div class="form-group">
        <label for="training_applicant">Training Applicant</label>
        <input value="{{training.training_applicant}}" type="number" class="form-control" name="training_applicant">
    </div>


    {% elseif lang == 'en' %}

    <div class="form-group">
        <label for="lang_code">Language</label> <br>
        <select class="selectpicker" name="lang_code" id="lang_code">
            {% for  languages in lang %}
            <option data-tokens="ketchup mustard"  name="lang_code" value="{{languages.lang_code}}">{{languages.lang_name}}</option>
            {% endfor %}
        </select>
    </div>
    
    
    {% endif %}
    <div class="form-group">
        <button  class="btn btn-primary" type="submit">Update Training</button>
    </div>
</form>
<script>
    $(document).ready(function () {
        $('input[name="training_apply_date"] , input[name="training_duration"]').daterangepicker(
                {
                    locale: {
                        format: 'YYYY/MM/DD'
                    },
                    startDate: '2013/01/01',
                    endDate: '2013/12/31'
                },
                function (start, end, label) {
                    alert("A new date range was chosen: " + start.format('YYYY/MM/DD') + ' to ' + end.format('YYYY/MM/DD'));
                });
    });


</script>

<!--   





-->