{% extends 'base.html' %}

{% block subheading %} Training {% endblock %}

{% block context %}

        {% if source == "add" %}

              {% include "Training/add_training.html" %}
            
        {% elseif source == "get" %}
        
            {% include "Training/edit_training.html" %}            

        {% elseif source == "show" %}
         {% include "Training/show_training.html" %}
         

        {% else %}

            {% include "Training/show_training.html" %}

        {% endif %}

{% endblock %}
