<form action="/admin/news/update/{{news.id}}" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label for="title">Title</label>
        <input value="{{news.title}}" type="text" class="form-control" name="title">
    </div>

    <div class="form-group">
        <label for="">News Status</label> <br>
        <select class="selectpicker" name="status" >
            <option value="draft">Post Status</option>
            <option value="published">Published</option>
            <option value="draft">Draft</option>
        </select>
    </div>

    <div class="form-group">
        <label for="title">Tags</label>
        <input value="{{news.tags}}" type="text" class="form-control" name="tags">
    </div>

    <div class="form-group ">
        <label for="post_image">Image</label >
        <input  type="file"  name="image" required> <br>
        <img  class="img-responsive img-thumbnail" width="100" src="../../../images/news/{{news.image}}" alt="" />
    </div>

    <div class="form-group">
        <label for="title">Content</label>
        <textarea name="content" >{{news.content}}</textarea>
        <script>
            CKEDITOR.replace( 'content' );
        </script>
    </div>

    <div class="form-group">
        <button  class="btn btn-primary" type="submit">Edit News</button>
    </div>

</form>