<!DOCTYPE html>
<html lang="en">
{% include "includes/header.html" %}

<body>
<!-- Fixed navbar -->
{% include "includes/navigation.html" %}
<!-- end of navbar -->

<!-- Head BAR -->
{% include "includes/jumbotron_logo.html" %}
<!-- End of Head BAR -->

<div class="container-fluid nav-path">
    <div class="container">
        <div class="col-sm-12 col-xs-12"><!-- content section -->
            <ol class="breadcrumb">
                <li><a href="/">Ana Səhifə</a></li>
                <li><a href="">Yeniliklər</a></li>
                <li class="active">News</li>
            </ol>
        </div>
    </div>
</div>

<!-- CONTENT: About -->
<div class="container">
    <div class="row content">
        <div class="col-md-9 col-sm-12 col-xs-12 main-side"><!-- content section -->
            <h3><span class="event-time">{{member.date|date("j F")}}</span> {{member.post_title|upper}}</h3>
            <div class="row">
                <div class="col-md-12 event-inside">

                    <img src="../images/posts/{{member.image}}"><p>{{member.post_body|raw}}</p>
                    <div class="centralize">
                        <a href="/register" type="button" class="btn btn-default btn-md">TƏDBIRƏ QEYDİYYAT</a>
                    </div>
                </div></div>

        </div> <!-- end of section -->

        <div class="col-md-3 col-sm-12 col-xs-12 side-nav"><!-- sidebar section -->
            <div class="side-nav-inside">
                <ul>
                    <h4>YENİLİKLƏR</h4>
                    <li class="active"><i class="fa fa-long-arrow-right"></i> Xəbərlər</a></li>
                    <li><a href="/announces">Elanlar</a></li>
                    <li><a href="/events">Tədbirlər</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- closing CONTENT -->
{% include "includes/footer.html" %}

<script src="js/plugins.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/main.js"></script>
<script>
    $(document).ready(function() {
        $("#news-slider").owlCarousel({
            items : 2,
            itemsDesktop:[1199,2],
            itemsDesktopSmall:[980,2],
            itemsMobile : [700,1],
            pagination:false,
            navigation:true,
            navigationText:["",""],
            autoPlay:true
        });
        $("a").tooltip(); // for tooltips

        // Colorbox Call
        $(document).ready(function(){
            $("[rel^='lightbox']").prettyPhoto();
        });

    });
</script>
</body>
</html>