<!DOCTYPE html>
<html lang="en">
    {% include "includes/header.html" %}

    <body>
        <!-- Fixed navbar -->
        {% include "includes/navigation.html" %}
        <!-- end of navbar -->
        {% include "includes/jumbotron_logo.html" %}


        <div class="container-fluid nav-path">
            <div class="container">
                <div class="col-sm-12 col-xs-12"><!-- content section -->
                    <ol class="breadcrumb">
                        <li><a href="#">Ana Səhifə</a></li>
                        <li><a href="#">Materiallar</a></li>
                        <li class="active">Təlim resursları</li>
                    </ol>
                </div>
            </div>
        </div>

        <!-- CONTENT: About -->
        <div class="container">
            <div class="row content">
                <div class="col-md-9 col-sm-12 col-xs-12 main-side"><!-- content section -->
                    <h3><i class="fa fa-fw fa-dot-circle-o"></i>Təlim resursları</h3>  				
                    <form class="row">
                        <div class="col-md-6">
                            <span class="custom-dropdown-box">
                                <select name="dep">
                                    <option>İstiqaməti seçin</option>
                                    <option>Elektron Hökumət</option>
                                    <option>Kompüter bilikləri və ofis proqramları</option>
                                    <option>İT-nin əsasları</option>
                                    <option>Şəbəkə və sistem inzibatçılığı</option>
                                    <option>Qrafik dizayn</option>
                                    <option>Proqramlaşdırma və kodlaşdırma</option>
                                    <option>Biznes və menecment</option>
                                    <option>Fərdi inkişaf</option>
                                </select>
                            </span>
                        </div>
                        <div class="col-md-6">
                            <span class="custom-dropdown-box">
                                <select name="cname">
                                    <option>Kursu seçin</option>
                                </select>
                            </span>
                        </div>
                        <div class="col-md-12">
                            <span class="radio-but"><input type="radio" name="res" value="html"> HTML</span>
                            <span class="radio-but"><input type="radio" name="res" value="pdf"> PDF</span>
                            <span class="radio-but"><input type="radio" name="res" value="video"> VIDEO</span>
                            <span class="radio-but"><input type="radio" name="res" value="all"> HƏR NÖV</span>
                        </div>
                    </form>
                    <!-- content -->
                    <div col-md-12>
                        <hr>
                        <div class="search-section">
                            </br>
                            <p><a href="#">1. Usability, Reachability, Accessibility and Web Security Assessment of E-governmental Websites in Azerbaijan Republic</a></p>
                            <p><a href="#">2. Cross site scripting hücumları və onlardan müdafiə</a></p>
                            <p><a href="#">3. Usability, Accessibility Assessment of E-government Websites in Europe</a></p>
                            <p><a href="#">4. Accessibility Challenges In E-Government: An Azerbaijan Experience</a></p>
                            <p><a href="#">5. Security Challenges In E-Government Websites: The World Experience. Opportunities and threats: A security assessment of state E-Government websites</a></p>
                            <p><a href="#">6. Improving transparency through internet, social media, and collaborative e‐government</a></p>
                            <p><a href="#">7. Opportunities and threats: A security assessment of state E-Government websites</a></p>
                            <p><a href="#">8. Impact and challenges of E-Learning. Issues and Challenges in Open and Distance e-Learning
                                </a></p>
                        </div>
                        <nav aria-label="Page navigation"> <!-- pagination -->
                            <ul class="pagination">
                                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                            </ul>
                        </nav> <!-- closing pagination -->
                    </div>       
                </div> <!-- end of section -->

                <div class="col-md-3 col-sm-12 col-xs-12 side-nav"><!-- sidebar section --> 
                    <div class="side-nav-inside"> 				
                        <ul>
                            <h4>MATERİALLAR</h4>
                            <li><a href="#">Materiallar</a></li>
                            <li class="active"><i class="fa fa-long-arrow-right"></i> Təlim resursları</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- closing CONTENT -->

        <!-- FOOTER -->

        {% include "includes/footer.html" %}
        <!-- ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="jquery/jquery.min.js"></script>
        <script src="jquery/main.js"></script>
        <script>window.jQuery || document.write('<script src="jquery/jquery.min.js"><\/script>')</script>
<!--        <script src="js/bootstrap.min.js"></script>-->
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script>
            $(document).ready(function () {

                $("a").tooltip(); // for tooltips

                // dependent select options
                $department = $("select[name='dep']");
                $cname = $("select[name='cname']");

                $department.change(function () {

                    if ($(this).val() == "Elektron Hökumət") {
                        $("select[name='cname'] option").remove();
                        $("<option>Sahibkarlar və mühasiblər üçün e-hökumət</option>").appendTo($cname);
                        $("<option>Elektron hökumətin əsasları</option>").appendTo($cname);
                    }

                    if ($(this).val() == "Kompüter bilikləri və ofis proqramları") {
                        $("select[name='cname'] option").remove();
                        $("<option>Ümumi kompüter hazırlığı</option>").appendTo($cname);
                        $("<option>Microsoft Office proqramları</option>").appendTo($cname);
                        $("<option>Peşəkar Microsoft Excel</option>").appendTo($cname);
                        $("<option>1C proqramı</option>").appendTo($cname);
                        $("<option>Microsoft Project</option>").appendTo($cname);
                    }

                    if ($(this).val() == "İT-nin əsasları") {
                        $("select[name='cname'] option").remove();
                        $("<option>İT texnikliyi</option>").appendTo($cname);
                        $("<option>İT təhlükəsizliyinin əsasları</option>").appendTo($cname);
                    }

                    if ($(this).val() == "Şəbəkə və sistem inzibatçılığı") {
                        $("select[name='cname'] option").remove();
                        $("<option>Şəbəkə inzibatçılığının əsasları</option>").appendTo($cname);
                        $("<option>Peşəkar şəbəkə inzibatçılığı</option>").appendTo($cname);
                        $("<option>Sistem inzibatçılığının əsasları</option>").appendTo($cname);
                    }

                    if ($(this).val() == "Qrafik dizayn") {
                        $("select[name='cname'] option").remove();
                        $("<option>2D qrafika</option>").appendTo($cname);
                        $("<option>3D qrafika</option>").appendTo($cname);
                    }

                    if ($(this).val() == "Proqramlaşdırma və kodlaşdırma") {
                        $("select[name='cname'] option").remove();
                        $("<option>Veb layihələrin hazırlanması</option>").appendTo($cname);
                        $("<option>Java proqramlaşdırma</option>").appendTo($cname);
                        $("<option>Python proqramlaşdırma</option>").appendTo($cname);
                        $("<option>C++ proqramlaşdırma</option>").appendTo($cname);
                        $("<option>Uşaqlar üçün Scratch proqramlaşdırma</option>").appendTo($cname);
                    }

                    if ($(this).val() == "Biznes və menecment") {
                        $("select[name='cname'] option").remove();
                        $("<option>Rəqəmli marketinq</option>").appendTo($cname);
                        $("<option>Layihələrin idarəedilməsi</option>").appendTo($cname);
                        $("<option>Peşəkar insan resursları</option>").appendTo($cname);
                    }

                    if ($(this).val() == "Fərdi inkişaf") {
                        $("select[name='cname'] option").remove();
                        $("<option>Danışıq ingilis dili</option>").appendTo($cname);
                        $("<option>Ümumi ingilis dili</option>").appendTo($cname);
                        $("<option>Rus dili</option>").appendTo($cname);
                        $("<option>Yumşaq bacarıqlar</option>").appendTo($cname);
                        $("<option>Dövlət qulluğuna hazırlıq</option>").appendTo($cname);
                        $("<option>Magistratura hazırlığı</option>").appendTo($cname);
                    }

                    if ($(this).val() == "İstiqaməti seçin") {
                        $("select[name='cname'] option").remove();
                        $("<option>Kursu seçin</option>").appendTo($cname);
                    }

                });

            });
        </script>

    </body>
</html>