{% for error in errors %}
{{error}}
{% endfor %}
<a class="btn btn-primary" href="/admin/settings/slider?add">Add Slider</a>

<nav aria-label="..." class="pull-right">
    <ul class="pagination">

    </ul>
</nav>


<div class="form-group ">
    <div class="container-fluid">
        <table class="table-responsive-sm  table-striped table table-hover table-responsive">
            <thead class="table-responsive-sm">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Date</th>
                <th>Image</th>
            </tr>
            </thead>

            <tbody class="table-responsive-sm">

            {% for slider in sliders %}
            <tr>
            <td style="width: 30px">{{slider.id}}</td>
            <td style="width: 150px">{{slider.title}}</td>
            <td style="width: 80px">{{slider.deadline}}</td>
            <td style="width: 90px">
                <img src="../../images/top_slider/{{slider.image}}" class="img-responsive img-thumbnail" height="70px!important" width='90px' src="" alt="">
            </td>
            <td style="width: 50px"><a class="btn btn-info" href="/admin/settings/editSlider/{{slider.id}}">Edit</a></td>
            <td style="width: 70px"><a class="btn btn-danger" href="/admin/settings/deleteSlider/{{slider.id}}">Delete</a>
            </tr>
            {% endfor %}
            </tbody>

        </table>

    </div>


</div>
